<a href="https://colab.research.google.com/github/Emmanuelmitra/Emmanuelmitra/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
f=lambda x:x+1

In [ ]:
f(1)

2

In [ ]:
f=lambda x: x+2+3

In [ ]:
f(9)

14

In [ ]:
f=lambda x,y:x+y

In [ ]:
f(2,1)

3

In [ ]:
f=lambda x,y,z: x*y+z

In [ ]:
f(2,3,4)

10

In [ ]:
def addition(x):
  return(x+x)

In [ ]:
l=[1,2,3,4]

In [ ]:
list(map(addition,l))

[2, 4, 6, 8]

In [ ]:
t=list(map(addition,l))

In [ ]:
print(t)

[2, 4, 6, 8]

In [ ]:
for i in t:
  print(t)

[2, 4, 6, 8]
[2, 4, 6, 8]
[2, 4, 6, 8]
[2, 4, 6, 8]

In [ ]:
for i in t:
  print(i)

2
4
6
8

In [ ]:
def num(x,y):
  for i in range(x,y):
    print(i)

In [ ]:
num(1,10)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(1,10,5):
  print(i)

1
6

In [ ]:
for i in range(10):
  print('hello world')

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [ ]:
for i in range(10):
  print('emmanuel is hero')

emmanuel is hero
emmanuel is hero
emmanuel is hero
emmanuel is hero
emmanuel is hero
emmanuel is hero
emmanuel is hero
emmanuel is hero
emmanuel is hero
emmanuel is hero

In [ ]:
l=[1,2,3,4,5]

In [ ]:
for i in l:
  if i%2==0:
    print('even number')
  else:
    print('odd number')

odd number
even number
odd number
even number
odd number

In [ ]:
for i in l:
  if i+2==4:
    print(i)
    break

2

In [ ]:
for i in l:
  if i+1==2:
    print(l)
    break

[1, 2, 3, 4, 5]

In [ ]:
f=lambda x: x.count('e')

In [ ]:
l='emmanuel'

In [ ]:
list(map(f,l))

[1, 0, 0, 0, 0, 0, 1, 0]

In [ ]:
l.count('m')

2

In [ ]:
f=lambda x: len(x)

In [ ]:
l=['emmanuel','simon','devadas']

In [ ]:
list(map(f,l))

[8, 5, 7]

In [ ]:
for i in l:
  print(i)
else: print('finished')

emmanuel
simon
devadas
finished

In [ ]:
l=['emmanuel','simon','hero']
for i in enumerate(l):
  print(i)

(0, 'emmanuel')
(1, 'simon')
(2, 'hero')

In [ ]:
for i, j in enumerate(l):
  print(i,j)

0 emmanuel
1 simon
2 hero

In [ ]:
for i, j in enumerate(l):
  print(j)

emmanuel
simon
hero

In [ ]:
for i,j in enumerate(l):
  print(i)

0
1
2

In [ ]:
for i,j in enumerate(l):
  if i=='2':
    print(i)
  else:
    print(j)

emmanuel
simon
hero

In [ ]:
for i,j in enumerate(l):
  if i>1: print(i)

2

In [ ]:
for i,j in enumerate(l):
  if j=='emmanuel':print(i,j)

0 emmanuel

In [ ]:
for i,j in enumerate(l):
  if j=='emmanuel': print(i+1000)

1000

In [ ]:
for i, j in enumerate(l):
  print(i,j)

0 emmanuel
1 simon
2 hero

In [ ]:
l=['emmanuel','simon','devadas','hero','superhero','ironman']

In [ ]:
for i in enumerate(l,start=2):
  print(i)

(2, 'emmanuel')
(3, 'simon')
(4, 'devadas')
(5, 'hero')
(6, 'superhero')
(7, 'ironman')

In [ ]:
for i,j in enumerate(l,start=0):
  print(i,j)

0 emmanuel
1 simon
2 devadas
3 hero
4 superhero
5 ironman

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame({'name':['emmanuel','simon','hero'],'class':[1,2,3],'sub':['science','maths','hindi']})

In [ ]:
df.head()

       name  class      sub
0  emmanuel      1  science
1     simon      2    maths
2      hero      3    hindi

In [ ]:
df.head()

       name  class      sub
0  emmanuel      1  science
1     simon      2    maths
2      hero      3    hindi

In [ ]:
df.tail()

       name  class      sub
0  emmanuel      1  science
1     simon      2    maths
2      hero      3    hindi

In [ ]:
df.tail()

       name  class      sub
0  emmanuel      1  science
1     simon      2    maths
2      hero      3    hindi

In [ ]:
df.head()

       name  class      sub
0  emmanuel      1  science
1     simon      2    maths
2      hero      3    hindi

In [ ]:
df.tail()

       name  class      sub
0  emmanuel      1  science
1     simon      2    maths
2      hero      3    hindi

In [ ]:
df.describe()

       class
count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0

In [ ]:
df.isnull()

    name  class    sub
0  False  False  False
1  False  False  False
2  False  False  False

In [ ]:
df.isnull()

    name  class    sub
0  False  False  False
1  False  False  False
2  False  False  False

In [ ]:
df.isnull().isnull()

    name  class    sub
0  False  False  False
1  False  False  False
2  False  False  False

In [ ]:
df.sort_values(by='class')

       name  class      sub
0  emmanuel      1  science
1     simon      2    maths
2      hero      3    hindi

In [ ]:
df.groupby('name').sum()

          class
name
emmanuel      1
hero          3
simon         2

In [ ]:
df.groupby('name').sum()

          class
name
emmanuel      1
hero          3
simon         2

In [ ]:
df.groupby('name').sum()

          class
name
emmanuel      1
hero          3
simon         2